.button {
    -fx-background-color: derive(#FAAD80,20%);
    -fx-background-insets: 1,1,1;
    -fx-background-radius: 10,10,10;
    -fx-padding: 3 3 3 3;
    -fx-text-fill: #000000;
    -fx-alignment: center;
    -fx-pref-width: 80;
    /*-fx-pref-height: 30;*/

}

.button:hover {
    -fx-background-color: #FAAD80;
    -fx-text-fill: #000000;
}

.button:hover .icon {
    -fx-fill: #000000;
    -fx-stroke: derive(#FAAD80, 30%);
}