{
  "type": "service_account",
  "project_id": "helical-canto-451512-g9",
  "private_key_id": "f86892faa07175f23f648108429f906c8137dede",
  "private_key": "",
  "client_email": "runzhou@helical-canto-451512-g9.iam.gserviceaccount.com",
  "client_id": "106341461687478301809",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/runzhou%40helical-canto-451512-g9.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}
